{% extends 'base.html' %}

{% load static %}  <!-- Dodajemy to, aby załadować tagi statyczne -->

{% block title %}Kalendarz godzin pracy{% endblock %}

{% block extra_css %}
<!-- Lokalny CSS FullCalendar -->
<link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Kalendarz godzin pracy</h1>
    <div id="calendar"></div>  <!-- Kalendarz FullCalendar pojawi się tutaj -->
    <p><a href="{% url 'work_entries_list' %}" class="btn btn-secondary">Powrót do listy godzin</a></p>
{% endblock %}

{% block extra_js %}
<!-- Lokalny JS FullCalendar -->
<script src="{% static 'fullcalendar/index.global.min.js' %}"></script>
<!-- Jeżeli potrzebujesz obsługi wielu języków, doładuj moduły językowe -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'pl',
            initialView: 'dayGridMonth',
            selectable: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: {{ events|safe }},
            dateClick: function(info) {
                var dateStr = info.dateStr;
                window.location.href = '/add_work_entry?date=' + dateStr;
            }
        });
        calendar.render();
    });
</script>
{% endblock %}
